{{flag}}

<table border="1">
    <thead>
<tr>
    <th>Time</th><th>Source IP</th><th>Source Port</th><th>Dst IP</th><th>Dst Port</th>
    <th>Protocol</th><th>Length</th><th>Info</th>

</tr>
    </thead>
    <tbody>
        {% if packs%}
            {% for pack in packs %}
                <tr>
                    <td>{{pack.time}}</td><td>{{pack.srcIP}}</td><td>{{pack.srcPort}}</td><td>{{pack.dstIP}}</td>
            <td>{{pack.dstPort}}</td><td>{{pack.protocol}}</td><td>{{pack.length}}</td><td>{{pack.info}}</td>
                </tr>

                 {% endfor %}
            {% endif %}
    </tbody>
</table>

<div class="pagination">
    <span class = "step.links">
        {% if packs.has_previous %}
        <a href = "?page={{packs.previous_page_number}}">上一页</a>
        {% endif %}
        <span class= "current">
            Page{{packs.number}}of{{packs.paginator.num_pages}}

        </span>
        {% if packs.has_next %}
        <a href="?page={{packs.next_page_number}}">下一页</a>
        {% endif %}
    </span>
</div>





    <div class="content">


        <div class="main-content">
            


<div class="row">
  <div class="col-md-4">
    <br>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form name="myinput" action="/post/getpost/" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <label>附件</label>
          <input type="file" name="upload" >
          </div>
            <div class="form-group">
            <input type="submit" value="确定" class="form-control" >
          </div>
          {% csrf_token %} 
          </form>
      </div>
    </div>
  </div>
</div>
        </div></div>























<!-- <td>04/09/2020 11:39:17</td>
  <td>10.25.23.45</td>
  <td>56</td>
    <td>115.25.45.36</td>
  <td>25</td>
  <td>TLSv1.3</td>
    <td>245</td>
  <td>123->1233 ad </td>
  id = models.AutoField(primary_key=True)
    pcapname = models.CharField(max_length=100,default="pcap")
    time = models.CharField(max_length=100)
    srcIP = models.CharField(max_length=50)
    srcPort = models.IntegerField()
    dstIP = models.CharField(max_length=50)
    dstPort = models.IntegerField()
    protocol = models.CharField(max_length=30)
    length = models.IntegerField()
    info = models.TextField(max_length=300)-->


